
            <div class="content-bg">
                <div class="main">
                    <div class="zerogrid">
                        <div class="wrapper">
                           
			<div class="wrap-col" align="center">
                                <h3>Ingresar</h3>
                                <form name="loginForm" novalidate 
                                      ng-app="LoginApp" ng-controller="loginPacienteController as lc" ng-submit="lc.login()">
                                    <div class="form-group" align="center">
                                        <input class="form-control" name="usuario" type="text" 
                                               placeholder="Usuario" required ng-model="paciente.idpaciente" />
                                        <br><br>
                                    </div>
                                    <div class="form-group" align="center">
                                        <input class="form-control" name="contraseña" type="password" 
                                               placeholder="Contraseña" required ng-model="paciente.contrasena" />
                                       
                                    </div>
                                    <div class="form-group" align="center">
                                       <br><button type="aceptart" class="btn btn-primary pull-right" 
                                                value="Aceptar" title="Aceptar" ng-disabled="!loginForm.$valid">
                                            <span>Aceptar</span>
                                        </button>
                                    </div>
                                </form>
                                
                                
                                
                              
                                
								</div>
                                                   </div>
                    </div>
                </div>
                <div class="block"></div>
            </div>