<div ng-controller="loginController ">
    <h1> Selección de clientes </h1>


    <div class="container">

        <div class="row">
            <div class="col-sm-6" style="background-color:lavender;">

                <table class="table table-striped" style="cursor: pointer;">
                    <thead>
                        <tr>
                            <th>Identificacion del cliente</th>
                            <th>Direccion</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prod in pacientes" ng-click="setSelectedPaciente(prod.idPacientes)" >
                            
                                <td>{{ prod.idPacientes}}</td>
                                <td>{{ prod.direccion}}</td>
                            
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-sm-6" style="background-color:lavenderblush;" ng-if="selectedPacienteId!=-1">


                
                <button value="OK" ng-click="addToSelectedPacientes()">Agregar al carro de compras.</button>
                <br><br>
                {{selectedPacienteDetail}}
                
            </div>
    

        </div>
    </div>
</div>


