<div ng-controller="skcontroller">
    <h1> Selección de productos </h1>


    <div class="container">

        <div class="row">
            <div class="col-sm-6" style="background-color:lavender;">

                <table class="table table-striped" style="cursor: pointer;">
                    <thead>
                        <tr>
                            <th>Identificacion del pedido</th>
                            <th>Direccion</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prod in availablePedidos" ng-click="setSelectedPedido(prod.idPedidos)" >
                            
                                <td>{{ prod.idPedidos}}</td>
                                <td>{{ prod.direccion}}</td>
                            
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-sm-6" style="background-color:lavenderblush;" ng-if="selectedPedidoId!=-1">


                
                <button value="OK" ng-click="addToSelectedPedidos()">Agregar al carro de compras.</button>
                <br><br>
                {{selectedPedidoDetail}}
                
            </div>
    

        </div>
    </div>
</div>


